/*DEFINICION DE FUENTES EXTERNAS*/
@import url('https://fonts.cdnfonts.com/css/acumin-pro');

/*NORMALIZAR*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*DEFINICION DE VARIABLES*/
:root {
    --color-fuente: rgb(25, 25, 25);
    --tama単o-fuente-subtitulos: 13px;
}

/*ESTILOS GENERALES PARA EL BODY*/
body {
    font-family: "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(236, 240, 243);
    padding: 20px;
}


/*ESTILOS PARA EL HEADER*/
header {
    width: 90%;
    justify-content: center;
    background-color: rgb(236, 240, 243);
}


.navbar {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    list-style: none;
    font-size: 11px;
}

.navbar-brand {}

.navbar-brand img {
    width: 50%;
}

.navbar-nav {

    display: flex;
    justify-content: center;
    gap: 30px;
    margin-left: auto;
}


.navbar-nav .btn-comprar {
    margin-top: -5px;
    height: 40px;
    width: 100px;
    color: red;
    border: none;
    border-radius: 5px;

}


/*ESTILOS PARA EL MAIN*/
main {
    width: 90%;
    margin-top: 5%;
    background: linear-gradient(to right, rgb(236, 240, 243), rgb(250, 252, 252));
    border: none;
}

/*ESTILO SECCION BIENVENIDA*/
main .bienvenida {
    border: none;
    display: flex;
    padding: 10px;
    gap: 10px;
}

/*ESTILO IZQUIERDO*/
main .bienvenida-texto {
    width: 40%;
}

.bienvenida-texto-titulo {
    font-weight: 800;
    font-size: var(--tama単o-fuente-subtitulos);
    letter-spacing: 4px;
}

.bienvenida-texto-nombre {
    margin-top: 20px;
    line-height: 1.5;
    font-size: 30px;
    font-weight: 900;
}

.nombre {
    color: red;
    font-weight: bold;
    font-size: 40px;
}

.bienvenida-texto-resumen {
    line-height: 1.5;
    font-size: 11px;
}

.redes {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.redes .buscame {
    font-size: 11px;
    font-weight: 800;
}

.redes .iconos {
    display: flex;
    gap: 20px;
    margin-top: 1px;
}


.redes .btn-redes-whatsapp,
.btn-redes-linkedin {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/*ESTILO DERECHO*/
main .bienvenida-foto {
    background-color: rgb(236, 240, 243);
    margin-left: 20%;
    width: 38%;
    height: 70%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
}

main .bienvenida-foto img {
    justify-items: center;
    margin-left: 20%;
    width: 60%;
    height: 90%;
}

main hr {
    width: 90%;
    align-items: center;
    margin-left: 5%;
}



/*Queries seccion BIENVENIDA*/
@media screen and (max-width:768px) {
    .bienvenida {
        flex-direction: column;
        align-items: center;
    }

    .bienvenida-texto,
    .bienvenida-foto {
        width: 100%;
        text-align: center;
        justify-content: center;
        justify-items: center;
    }

    .bienvenida .bienvenida-foto {
        justify-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 10%;
        width: 150px;
        height: 150px;
    }

    .redes .iconos {
        justify-content: center;
    }
}

@media (max-width: 468px) {
    .bienvenida-foto {
        margin-top: 10%;
        width: 150px;
        height: 150px;
    }

    .redes .iconos {
        justify-content: center;
    }
}

/*---------------------ESTILO SECCION DOS PRESENTACION---------------*/
.presentacion {
    width: 90%;
    height: 90%;
    margin-top: 10%;
    display: flex;
    border: none;
    flex-direction: column;
}



.subtitulo {
    color: red;
    font-size: var(--tama単o-fuente-subtitulos);
    font-weight: 800;
}

.subtitulo2 {
    color: black;
    font-size: var(--tama単o-fuente-subtitulos);
    font-weight: 800;
}

.presentacion h1 {
    font-weight: 800;
    font-display: ;
}

/*-tarjetas-*/
.contenedor {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor .tarjeta {
    width: 25%;
    height: 200px;
    background-color: linear-gradient(to right, rgb(230, 235, 239), rgb(248, 250, 251));
    /*   max-width: 200px;*/
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
}

.contenedor .subtitulo2{
    margin-top: 10px;
}
.contenedor .tarjeta i {
    color: red;
    margin-right: 5px;
}

.tarjeta .parrafo-tarjeta {
    margin-top: 10px;
    font-size: 10.5px;
}

/*Queries seccion PRESENTACION*/
@media screen and (max-width:768px) {
    .presentacion .contenedor {
        flex-direction: column;
        align-items: center;
    }

    .bienvenida-texto,
    .bienvenida-foto {
        width: 100%;
        text-align: center;
        justify-content: center;
        justify-items: center;
    }

    .bienvenida .bienvenida-foto {
        justify-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 10%;
        width: 150px;
        height: 150px;
    }

    .redes .iconos {
        justify-content: center;
    }
}

@media (max-width: 630px) { /*Donde noto se empieza a romper*/
    .contenedor .tarjeta .parrafo-tarjeta  {
        width: 50px;
        height: 150px;
        line-height: 1;
    }

    .redes .iconos {
        justify-content: center;
    }
}

@media (max-width: 569px) { /*Donde noto se empieza a romper nuevamente*/
    .contenedor .subtitulo2{
        margin-top:1px;
        font-size: 9px;
    }
    .contenedor .tarjeta .parrafo-tarjeta {
        margin-top: -1px;
        margin-left: 1px;
        width: 50px;
        height: 150px;
        line-height: 1;
        font-size: 8px;
    }

    .redes .iconos {
        justify-content: center;
    }
}

/*---------------------ESTILO SECCION TRES PORTAFOLIO---------------*/
.contenedor .tarjeta-portafolio {
    width: 25%;
    height: 300px;
    background-color: linear-gradient(to right, rgb(230, 235, 239), rgb(248, 250, 251));
    /*   max-width: 200px;*/
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
    display: flex;
    flex-direction: column;
}

.tarjeta-portafolio img{
    width: 100%;
    border-radius: 10px 10px 1px 1px;
    margin-bottom: 5%;
}

.tarjeta-portafolio .parrafo-tarjeta{
    margin-top: 10px;
    font-size: 10.5px;
}

.subtitulo-portafolio{
    color: red;
    font-size: 10px;
    font-weight: 800;
}

.parrafo-tarjeta-portafolio{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 900;
    font-weight: bold;
}