/*DEFINICION DE FUENTES EXTERNAS*/
@import url('https://fonts.cdnfonts.com/css/acumin-pro');

/*NORMALIZAR*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*DEFINICION DE VARIABLES*/
:root {
    --color-fuente: rgb(25, 25, 25);
    --tamaño-fuente-subtitulos: 13px;
}

/*ESTILOS GENERALES PARA EL BODY*/
body {
    font-family: "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(236, 240, 243);
    padding: 20px;
    margin-left: 10%;
}


/*ESTILOS PARA EL HEADER*/
header {
    width: 90%;
    justify-content: center;
    background-color: rgb(236, 240, 243);
    height: 10%;
}


.navbar {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    /* height: 20px;*/
    list-style: none;
    background-color: rgb(236, 240, 243);
    /*border: 1px solid red;*/
}


.navbar-brand img {
    width: 50%;
}

.navbar-nav {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 5px;
    margin-left: 22%;
    font-size: 11px;
    font-weight: 900;
    text-shadow: 0 0 1px rgb(55, 108, 179);
    /*border: 1px solid blue;*/
}


.navbar-nav .btn-comprar {
    position: absolute;
    margin-top: -5px;
    height: 40px;
    width: 100px;
    color: red;
    border: none;
    border-radius: 5px;
    background-color: linear-gradient(to right, black, rgb(140, 143, 145));
    font-weight: 800;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);

}


/*ESTILOS PARA EL MAIN*/
main {
    width: 90%;
    margin-top: 5%;
    background: linear-gradient(to right, rgb(236, 240, 243), rgb(250, 252, 252));
    border: none;
}

/*ESTILO SECCION BIENVENIDA*/
main .bienvenida {
    border: none;
    display: flex;
    padding: 10px;
    gap: 10px;
}

/*ESTILO IZQUIERDO*/
main .bienvenida-texto {
    width: 40%;
}

.bienvenida-texto-titulo {
    font-weight: 800;
    font-size: var(--tamaño-fuente-subtitulos);
    letter-spacing: 4px;
}

.bienvenida-texto-nombre {
    margin-top: 20px;
    line-height: 1.5;
    font-size: 30px;
    font-weight: 900;
}

.nombre {
    color: red;
    font-weight: bold;
    font-size: 40px;
}

.bienvenida-texto-resumen {
    line-height: 1.5;
    font-size: 11px;
}

.redes {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.redes .redes-detalles {
    display: flex;
    flex-direction: row;
    gap: 50%;
}

.redes .redes-detalles .buscame,
.redes .redes-detalles .best {
    font-size: 11px;
    font-weight: 800;
}

.redes .iconos {
    display: flex;
    flex-direction: row;
    gap: 50%;
    margin-top: 1px;
}


.redes .btn-redes-whatsapp,
.btn-redes-linkedin,
.btn-redes-invision,
.btn-redes-sketch {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/*ESTILO DERECHO*/
/*main .bienvenida-foto {
    background-color: rgb(236, 240, 243);
    margin-left: 10%;
    width: 38%;
    height: 70%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
}

main .bienvenida-foto img {
    justify-items: center;
    margin-left: 20%;
    width: 60%;
    height: 90%;
}*/
#imagenDiv {
    background-color: rgb(236, 240, 243);
    margin-left: 10%;
    width: 38%;
    height: 70%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
    overflow: hidden; /*La propiedad CSS overflow especifica: si recortar contenido, 
    dibujar barras de desplazamiento o mostrar el contenido excedente en un elemento a nivel de bloque 
    hidden: El contenido es recortado y no se muestran barras de posición.*/
  }

  /* Estilos para la imagen dentro del contenedor */
  #imagenDiv img {
    justify-items: center;
    margin-left: 20%;
    width: 60%;
    height: 90%;
    transition: transform 0.3s ease-in-out; /* Transition:Esta propiedad permite hacer un pasaje gradual entre las propiedades que cambian en dos instancias de un elemento, 
    controlando además la velocidad y en animaciones más avanzadas el modo en que se ejecuta la transición. TRANSFORM: La propiedad CSS transform te permite modificar el espacio de coordenadas del modelo de formato visual CSS. 
    Usándola, los elementos pueden ser trasladados, rotados, escalados o sesgados de acuerdo a los valores establecidos. ease-in-out comenzará lentamente, será más rápido en el medio de la animación y luego terminará lentamente. */
  }

  /* Efecto de escala al pasar el ratón sobre la imagen */
  #imagenDiv img:hover {
    transform: scale(1.1);
  }

main hr {
    width: 90%;
    align-items: center;
    margin-left: 5%;
}



/*Queries seccion BIENVENIDA*/
@media screen and (max-width:768px) {
    .bienvenida {
        flex-direction: column;
        align-items: center;
    }

    .bienvenida-texto,
    .bienvenida-foto {
        width: 100%;
        text-align: center;
        justify-content: center;
        justify-items: center;
    }

    .bienvenida .bienvenida-foto {
        justify-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 10%;
        width: 150px;
        height: 150px;
    }

    .redes .iconos {
        justify-content: center;
    }
}

@media (max-width: 468px) {
    .bienvenida-foto {
        margin-top: 10%;
        width: 150px;
        height: 150px;
    }

    .redes .iconos {
        justify-content: center;
    }
}

/*---------------------ESTILO SECCION DOS PRESENTACION---------------*/
main .presentacion {
    width: 90%;
    height: 90%;
    margin-top: 10%;
    display: flex;
    border: none;
    flex-direction: column;
}

.subtitulo {
    color: red;
    font-size: var(--tamaño-fuente-subtitulos);
    font-weight: 800;
}

.subtitulo2 {
    color: black;
    font-size: var(--tamaño-fuente-subtitulos);
    font-weight: 800;
}

.presentacion h1 {
    font-weight: 800;
}


/*slider*/
/* Contenedor del slider */
.contenedor-slider {
    position: relative;
    /* Establece la posición relativa para posicionar elementos secundarios */
    width: 100%;
    /* Ocupa el 100% del ancho del contenedor principal */
    overflow: hidden;
    /* Oculta el desbordamiento del contenido que excede el contenedor */
    margin: 20px auto;
    justify-content: center;
}

/* Estilo del slider (la lista de elementos) */
.slider {
    display: flex;
    /* Muestra los elementos en línea (uno al lado del otro) */
    transition: transform 0.5s ease-in-out;
    /* Agrega una transición suave a la propiedad transform */
}

/* Estilo de cada diapositiva en el slider */
.slide {
    width: 15%;
    /*Establece ancho de la diapositiva*/
    height: 200px;
    /*Establece el alto de la diapositiva*/
    flex: 0 0 33.33%;
    /*Establece el ancho de cada diapositiva en el 33.33% del contenedor para mostrar 3 a la vez */
    box-sizing: border-box;
    /* Incluye el relleno y el borde en el ancho y alto de la caja */
    text-align: left;
    /* Alinea el contenido de cada diapositiva a la Izquierda*/
    margin: 5px;
    padding: 20px;
    /* Añade un relleno de 20 píxeles alrededor de cada diapositiva */
    border-radius: 10px;
    /* Agrega un borde redondeado*/
    border: 1px solid #ddd;
    /* Agrega un borde delgado con color gris claro */
    background-color: linear-gradient(to right, rgb(230, 235, 239), rgb(248, 250, 251));
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* Agrega sombra al cuadro de la diapositiva*/
}

.slide .parrafo-tarjeta {
    margin-top: 10px;
    font-size: 10.5px;
}

.slider .slide i {
    color: red;
    margin-right: 5px;
}


/* Estilo del contenedor de navegación (flechas) */
.navegacion {
    position: absolute;
    /* Permite posicionar el contenedor de navegación de forma absoluta */
    top: 50%;
    /* Coloca el contenedor en la mitad superior del slider */
    transform: translateY(-50%);
    /* Centra verticalmente el contenedor de navegación */
    width: 100%;
    /* Ocupa el 100% del ancho del contenedor principal o contenedor padre de este elemento */
    display: flex;
    /* Muestra los elementos de navegación en línea */
    justify-content: space-between;
    /* Distribuye uniformemente el espacio entre los elementos de navegación */
}

/* Estilo de los botones de navegación */
.navegacion button {
    background-color: linear-gradient(to right, rgb(230, 235, 239), rgb(248, 250, 251));
    /* background-color: #333;*/
    /* Fondo oscuro para los botones de navegación */
    color: rgb(12, 12, 12);
    /* Texto en color blanco */
    border: none;
    /* Sin bordes en los botones */
    padding: 10px;
    /* Añade un relleno de 10 píxeles alrededor de cada botón */
    font-size: 16px;
    /* Tamaño de fuente de 16 píxeles */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre los botones para indicar que son clicables */
}

/*------------------------------------------*/

.presentacion h1 {
    font-weight: 800;
}


/*Queries seccion PRESENTACION*/
@media screen and (max-width:768px) {
    .presentacion .contenedor {
        flex-direction: column;
        align-items: center;
    }

    .bienvenida-texto,
    .bienvenida-foto {
        width: 100%;
        text-align: center;
        justify-content: center;
        justify-items: center;
    }

    .bienvenida .bienvenida-foto {
        justify-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 10%;
        width: 150px;
        height: 150px;
    }

    .redes .iconos {
        justify-content: center;
    }
}

@media (max-width: 630px) {

    /*Donde noto se empieza a romper*/
    .contenedor .tarjeta .parrafo-tarjeta {
        width: 50px;
        height: 150px;
        line-height: 1;
    }

    .redes .iconos {
        justify-content: center;
    }
}

@media (max-width: 569px) {

    /*Donde noto se empieza a romper nuevamente*/
    .contenedor .subtitulo2 {
        margin-top: 1px;
        font-size: 9px;
    }

    .contenedor .tarjeta .parrafo-tarjeta {
        margin-top: -1px;
        margin-left: 1px;
        width: 50px;
        height: 150px;
        line-height: 1;
        font-size: 8px;
    }

    .redes .iconos {
        justify-content: center;
    }
}

/*---------------------ESTILO SECCION TRES PORTAFOLIO---------------*/
main .portafolio {
    width: 90%;
    height: 90%;
    margin-top: 10%;
    display: flex;
    border: none;
    flex-direction: column;
}

.subtitulo_dif {
    text-align: center;
    color: red;
    font-size: var(--tamaño-fuente-subtitulos);
    font-weight: 800;
}

.titulo_dif {
    text-align: center;
    font-weight: 800;
}

.contenedor {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*Estilos para la tarjeta principal */
.tarjeta-portafolio {
    display: flex;
    position: relative;
    width: 25%;
    height: 300px;
    background-color: linear-gradient(to right, rgb(230, 235, 239), rgb(248, 250, 251));
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
    flex-direction: column;
    
}

.tarjeta-portafolio .saberMas {
    margin-top: 10px;
    font-size: 10.5px;
    font-weight: 700;
    color: red;
    cursor: pointer;
}

 /* Estilos para la superposición (overlay) */
 .cardSuperpuesta {
    display: none;
    position: absolute; /* Cambiado a absolute */
    top: 1%;
    left: 0;
    width: 100%;
    height:95%;
   /* background-color: linear-gradient(to right, rgb(230, 235, 239), rgb(248, 250, 251));*/
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    text-align: center;
    color: gray;
    font-size: 10.5px;
    border-radius: 10px;
    z-index: 1; /* Asegura que la superposición aparezca sobre la tarjeta */
  }

/* Estilos para el contenido de la superposición */
.overlay-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
  }
/* Estilos para el botón de cierre */
.close-btn {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: 900;
  }



.tarjeta-portafolio img {
    width: 100%;
    border-radius: 10px 10px 1px 1px;
    margin-bottom: 5%;
}

.tarjeta-portafolio .parrafo-tarjeta {
    margin-top: 10px;
    font-size: 10.5px;
}

.subtitulo-portafolio {
    color: red;
    font-size: 10px;
    font-weight: 800;
}

.parrafo-tarjeta-portafolio {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 900;
    font-weight: bold;
}

/*Queries seccion PORTAFOLIO*/
@media screen and (max-width:768px) {
    .portafolio .contenedor {
        flex-direction: column;
        align-items: center;
    }

    .portafolio .subtitulo-portafolio {
        color: red;
        font-size: 10px;
        font-weight: 800;
    }


    .contenedor .tarjeta-portafolio {
        width: 25%;
        height: 200px;
    }

    .tarjeta-portafolio .parrafo-tarjeta-portafolio {
        margin-top: 10px;
        font-size: 10px;
    }

}


@media (max-width: 569px) {

    /*Donde noto se empieza a romper nuevamente*/
    .tarjeta-portafolio img {
        width: 100%;
        height: 100px;
        border-radius: 10px 10px 1px 1px;
        margin-bottom: 5%;
    }

    .portafolio .subtitulo-portafolio {
        color: red;
        font-size: 8px;
        font-weight: 800;
    }

    .contenedor .tarjeta-portafolio {
        padding: 5px;
    }

}

/*---------------------ESTILO SECCION CUATRO RESUMEN---------------*/
main .resumen {
    width: 90%;
    height: 90%;
    margin-top: 10%;
    display: flex;
    border: none;
    flex-direction: column;
}

.resumen .contenedor-encabezado-resumen {
    width: 100%;
    justify-content: center;
    justify-items: center;
    display: flex;
    border-radius: 5px;
    margin-left: 10%;
    background: white;

}



/*Barra Resumen*/
.resumen .contenedor-encabezado-resumen .navbar {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    list-style: none;
    font-size: 12px;
}

.resumen .contenedor-encabezado-resumen .navbar-nav {
    height: 80px;
    margin-left: -10%;
}

.resumen .contenedor-encabezado-resumen .navbar-nav {
    width: 100%;
    background: linear-gradient(to right, rgb(236, 240, 243), rgb(250, 252, 252));
    background-image: linear-gradient(to bottom right, rgb(209, 211, 212), rgb(249, 251, 251));
    display: flex;
    justify-content: center;
    border-radius: 5%;
}

.resumen .contenedor-encabezado-resumen .nav-item {
    width: 20%;
    height: 70%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: red;
    border-radius: 5%;
}

.resumen .contenedor-encabezado-resumen .nav-link {
    justify-items: center;
    justify-content: center;
    border-radius: 5%;
    text-decoration: none;
}

/*Subclase efecto*/
.resumen .contenedor-encabezado-resumen .nav-item:hover {
    border: none;
    border-radius: 5%;
    background-image: linear-gradient(to bottom right, rgb(209, 211, 212), rgb(249, 251, 251));
    font-weight: 700;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.resumen .contenedor-encabezado-resumen .nav-link:hover {
    color: red;
}

.resumen .contenedor-encabezado-resumen .contenedor-contenido-resumen {
    width: 80%;
    margin-left: 10%;
    display: flex;
}


/*-----Estilo Encabezado de tarjetas--*/
.contenedor-tarjetas .resumen-años-contenido {
    color: red;
    font-size: 12px;
    font-weight: 900;
}

.contenedor-tarjetas .resumen-subtitulo-tarjetas-contenido {
    color: black;
    font-size: 30px;
    font-weight: 900;
}

/*--Nuevo CSS--*/
.contenedor-contenido-resumen-todo {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
}

.contenedor-contenido-resumen {
    display: flex;
}

.contenedor-todo-izquierdo {
    width: 50%;
    height: 80%;
    display: flex;
    position: relative;
    justify-content: left;
}

.contenedor-todo-derecho {
    width: 50%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: left;
}

.contenedor-izquierdo {
    width: 60px;
    height: 550px;
    display: flex;
    justify-content: center;
    justify-items: center;
    position: relative;
    z-index: -1;
}

.contenedor-izquierdo-linea {
    width: 1px;
    height: 450px;
    border: 1px solid gray;
    background-color: blue;
    position: absolute;
    z-index: 1;
    margin-left: 13.5px;
    margin-top: 75px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contenedor-izquierdo-globo {
    width: 15px;
    height: 15px;
    border: 2px solid grey;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(216, 214, 214);
    z-index: 1;
    margin-top: 104px;
    margin-left: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.linea_punto {
    /*width: 1%;*/
    margin-top: 8%;
    margin-left: -5%;
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.linea_punto::before {
    content: '';
    position: absolute;
    width: 36px;
    height: 0.5%;
    background-color: gray;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    left: -12px;
    top: 72px;
}

.contenedor-izquierdo-linea2 {
    width: 3px;
    height: 500px;
    background-color: blue;
    position: absolute;
    z-index: -1;
    margin-left: 15px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contenedor-izquierdo-globo2 {
    width: 15px;
    height: 15px;
    border: 2px solid grey;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(216, 214, 214);
    z-index: 1;
    margin-top: 256px;
    margin-left: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.linea_punto2 {
    margin-top: 13.5%;
    margin-left: 0px;
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.linea_punto2::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 0.5%;
    background-color: gray;
    left: -15px;
    top: 41%;
}

.contenedor-izquierdo-globo3 {
    width: 15px;
    height: 15px;
    border: 2px solid grey;
    box-shadow: 3px gray;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(216, 214, 214);
    z-index: 1;
    margin-top: 428px;
    margin-left: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.linea_punto3 {
    margin-top: 1%;
    margin-left: 1%;
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.linea_punto3::before {
    content: '';
    position: absolute;
    width: 42px;
    height: 0.5%;
    background-color: gray;
    left: -24px;
    top: 430px;
}

.titulo-años-contenido-resumen {
    font-size: 10px;
    color: red;
    font-weight: 700;
}

.contenedor-tarjetas {
    width: 90%;
    height: 100%;
    margin-left: 4%;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tarjeta-resumen {
    height: 30%;
    border-radius: 5%;
    padding: 10px;
    top: 100px;
}

.subtitulo-tarjeta-resumen {
    margin-top: 5px;
    text-align: left;
    font-size: 20px;
    font-weight: 900;
}

.parrafo-tarjeta-subtitulo-resumen {
    font-size: 10px;
    font-weight: 900;
}

.resumen-subtitulo-tarjetas-contenido {
    font-size: 30px;
    font-weight: 900;
}

.contenedor-referencia {
    height: 75px;

}

.parrafo-tarjeta-resumen {
    margin-top: 5%;
    text-align: left;
    font-size: 10px;
}

.tarjeta-resumen {
    border: none;
    background-image: linear-gradient(to bottom right, rgb(209, 211, 212), rgb(249, 251, 251));
}

/*Queries seccion RESUMEN*/
@media screen and (max-width:480px) {
    .contenedor-encabezado-resumen {
        visibility: hidden;
    }

    /*ocultar barras izquierdas*/
    .contenedor-izquierdo,
    .contenedor-izquierdo-linea,
    .linea_punto,
    .contenedor-izquierdo-globo,
    .contenedor-izquierdo2,
    .contenedor-izquierdo-linea2,
    .linea_punto2,
    .contenedor-izquierdo-globo2,
    .contenedor-izquierdo3,
    .contenedor-izquierdo-linea3,
    .linea_punto3,
    .contenedor-izquierdo-globo3 {
        display: none;
    }


    .contenedor-tarjetas {
        width: 100px;
        display: flex;
        gap: 20px;
        flex-direction: column;
    }

    .contenedor-referencia .resumen-subtitulo-tarjetas-contenido {
        font-size: 12px;
        font-weight: 800;
    }

    .subtitulo-tarjeta-resumen {
        margin-top: 10px;
        text-align: left;
        font-size: 5px;
        font-weight: 800;
    }

    .parrafo-tarjeta-subtitulo-resumen {
        font-size: 7px;
        font-weight: 900;
    }

    .contenedor-resumen .tarjeta-resumen {
        width: 25%;
        height: 600px;
    }

    .contenedor-referencia {
        height: 75px;

    }

    .parrafo-tarjeta-resumen {
        margin-top: 5%;
        text-align: left;
        font-size: 7px;
    }
}

@media screen and (max-width:738px) {

    .contenedor-todo-izquierdo {
        width: 50%;
        height: 100%;
        display: flex;
        position: relative;
        justify-content: left;
    }

    .contenedor-todo-derecho {
        width: 50%;
        height: 100%;
        display: flex;
        position: relative;
        justify-content: left;
    }

    .contenedor-izquierdo {
        width: 60px;
        height: 690px;
        display: flex;
        justify-content: center;
        justify-items: center;
        position: relative;
        z-index: -1;
    }

    .contenedor-izquierdo-linea {
        width: 1px;
        height: 785px;
        border: 1px solid gray;
        background-color: blue;
        position: absolute;
        z-index: 1;
        margin-left: 13.5px;
        margin-top: 90px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .contenedor-izquierdo-globo {
        width: 15px;
        height: 15px;
        border: 2px solid grey;
        position: absolute;
        border-radius: 50%;
        background-color: rgb(216, 214, 214);
        z-index: 1;
        margin-top: 125px;
        margin-left: 8px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .linea_punto {
        margin-top: 25%;
        margin-left: -10%;
        position: relative;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    .linea_punto::before {
        content: '';
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: gray;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        left: -10px;
        top: 62px;
    }

    .contenedor-izquierdo-linea2 {
        width: 3px;
        height: 500px;
        background-color: blue;
        position: absolute;
        z-index: -1;
        margin-left: 15px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .contenedor-izquierdo-globo2 {
        width: 15px;
        height: 15px;
        border: 2px solid grey;
        position: absolute;
        border-radius: 50%;
        background-color: rgb(216, 214, 214);
        z-index: 1;
        margin-top: 395px;
        margin-left: 8px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }


    .linea_punto2 {
        margin-top: 250px;
        margin-left: 0px;
        position: relative;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .linea_punto2::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 0.5%;
        background-color: gray;
        left: -15px;
        top: 150px;
    }

    .contenedor-izquierdo-globo3 {
        width: 15px;
        height: 15px;
        border: 2px solid gray;
        box-shadow: 3px gray;
        position: absolute;
        border-radius: 50%;
        background-color: rgb(216, 214, 214);
        z-index: 1;
        margin-top: 672px;
        margin-left: 8px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .linea_punto3 {
        margin-top: 1%;
        margin-left: 1%;
        position: relative;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .linea_punto3::before {
        content: '';
        position: absolute;
        width: 38px;
        height: 2px;
        background-color: gray;
        left: -24px;
        top: 677px;
    }


    .contenedor-tarjetas {
        width: 100px;
        display: flex;
        gap: 20px;
        flex-direction: column;
    }

    .contenedor-referencia .resumen-subtitulo-tarjetas-contenido {
        font-size: 15px;
        font-weight: 800;
    }

    .subtitulo-tarjeta-resumen {
        margin-top: 16px;
        text-align: left;
        font-size: 5px;
        font-weight: 800;
        color: brown;
    }

    .parrafo-tarjeta-subtitulo-resumen {
        font-size: 12px;
        font-weight: 900;

    }

    .contenedor-resumen .tarjeta-resumen {
        width: 12px;
        height: 300px;
    }

    .contenedor-referencia {
        height: 75px;

    }

    .parrafo-tarjeta-resumen {
        margin-top: 5%;
        text-align: left;
        font-size: 11px;
    }
}

/*---------------------ESTILO SECCION CINCO BLOGX---------------*/
.blog {
    width: 100%;
    margin-left: -5px;
    background-image: linear-gradient(to bottom right, rgb(209, 211, 212), rgb(249, 251, 251));
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding: 15px;
}

.texto-titulo-pequeño {
    color: red;
    font-size: var(--tamaño-fuente-subtitulos);
    font-weight: 800;
}

.texto-titulo-grande {
    font-size: 35px;
    font-weight: 900;
}

.blog-contenedor-tarjetas {
    margin: 15px;
    width: 90%;
    height: 450px;
    display: flex;
    gap: 80px;
    flex-direction: row;
    justify-content: center;
    border: none;
}

.blog-tarjeta {
    margin-top: 15px;
    width: 25%;
    height: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    background-color: linear-gradient(to bottom right, rgb(209, 211, 212), rgb(249, 251, 251));
    background-image: linear-gradient(to bottom right, rgb(209, 211, 212), rgb(249, 251, 251));
    justify-items: center;
}

.blog-imagenes img {
    width: 80%;
    margin-top: -10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5%;

}

.blog-contenedor-texto-pequeño,
.blog-contenedor-texto-grande {
    width: 80%;
    margin-left: 31px;
    margin-bottom: 15px;
    font-weight: 900;
}

.blog-contenedor-texto-pequeño {
    display: flex;
}

.blog-tarjeta-texto-pequeño-derecho,
.blog-tarjeta-texto-pequeño-izquierdo {
    font-size: 10px;
    font-weight: 900;
}

.blog-tarjeta-texto-pequeño-derecho {
    color: red;
}

.blog-tarjeta-texto-pequeño-izquierdo {
    margin-left: auto;
}

.blog-contenedor-texto-grande {
    text-align: left;
    font-size: 20px;
}

/*Queries seccion BLOG*/
@media screen and (max-width:414px) {
    .blog-contenedor-tarjetas {
        margin: 15px;
        width: 100%;
        height: 90%;
        display: flex;
        gap: 80px;
        flex-direction: column;
        justify-content: center;
        border: none;
    }

    .blog-imagenes {
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

    .blog-imagenes img {
        width: 100%;
    }

    .blog-contenedor-tarjetas {
        align-items: center;
    }

    .blog-tarjeta {
        width: 90%;
        display: flex;
        align-items: center;
    }

    .blog-contenedor-texto-grande {
        width: 100%;
        margin-left: 3%;
        font-size: 12px;
    }

    .blog-contenedor-texto-pequeño {
        /*  border: 1px solid red;*/
        margin-left: -5%;
        font-size: 2px;
        display: flex;
        flex-direction: row;
    }
}

/*----------------------ESTILO SECCION SEIS CONTACTAME----------------------------*/
.contactame {
    width: 90%;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*  border: 1px solid red;*/
    text-align: center;
}

.contenedor-tarjetas-contactame {
    /*border: 1px solid green;*/
    display: flex;
    flex-direction: row;
}

.contactame .contactame-izquierdo {
    width: 35%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, rgb(209, 211, 212), rgb(249, 251, 251));
    border: none;
    border-radius: 5%;
    gap: 10px;
    /*border: 1px solid green;*/
}

.imagen img {
    width: 80%;
    right: auto;
    margin-left: 10%;
    margin-top: 10px;
    border-radius: 5%;
    /* border: 1px solid red;*/
}

.contactame-titulo {
    text-align: left;
    font-size: 20px;
    font-weight: 900;
    margin-left: 20px;
}

.contactame-subtitulo {
    text-align: left;
    font-size: 15px;
    color: rgb(107, 107, 107);
    font-weight: 700;
    margin-left: 20px;
}

.contactame-texto {
    text-align: left;
    font-size: 15px;
    color: rgb(107, 107, 107);
    font-weight: 700;
    margin-left: 20px;
}




.contactame-derecho .contactame-1 {
    display: flex;
    flex-direction: row;
}

.contactame-vias {
    text-align: left;
    font-size: 15px;
    color: rgb(107, 107, 107);
    font-weight: 700;
    margin-left: 20px;
}

.mail {
    margin-top: -15px;
    /* border: 1px solid red;*/
}

.contactame-buscame {
    text-align: left;
    font-size: 11px;
    color: rgb(107, 107, 107);
    font-weight: 700;
    margin-left: 20px;
}

.contactame-iconos {
    margin-left: 1px;
    border-radius: 5%;

}

.contactame-iconos-izquierda {
    margin-left: 5%;
    width: 80%;
    /* border: 1px solid red;*/
    text-align: left;
    display: flex;
    gap: 25px;
}

.contactame .btn-redes-whatsapp {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contactame .contactame-derecho {
    display: flex;
    position: relative;
    width: 60%;
    height: ;
    margin-left: 5%;
    background-image: linear-gradient(to bottom right, rgb(209, 211, 212), rgb(249, 251, 251));
    border: none;
    border-radius: 5%;
    /* border: 1px solid violet;*/
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/*----------------------------------------Modificado para TP2-JS-Interacción con el DOM----*/


/*------------viejo------------*/
.contactame-derecho .contactame-formulario {
    /* display: flex;*/
    position: absolute;
    width: 100%;
    /* border: 1px solid red;*/
    margin-top: 1px;
    margin-left: 2px;
}

/*------------viejoFin---------*/

.contactame-derecho .contactForm {
    display: flex;
    position: absolute;
    width: 100%;
    /* border: 1px solid red;*/
    margin-top: 1px;
    margin-left: 2px;
}

/* Clase para ocultar elementos */
.hidden {
    position: absolute;
    display: flex;
    top: 480px;
    left: 120px;
    background-image: linear-gradient(to bottom right, rgb(209, 211, 212), rgb(249, 251, 251));
    border: none;
    border-radius: 5%;
    /*border: 1px solid violet;*/
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   display: none;
}

/* Estilo para el mensaje de éxito */
#successMessage {
    /* Añade espacio en la parte superior del mensaje */
    margin-top: 10px;
    /*Formato de texto Color para indicar éxito */
    color: green;
    font-weight: 800;
}
.encabezado-form {
    font-size: 10px;
    /*border: 1px solid green;*/
    color: gray;
    font-weight: 900;
}

.encabezado-form-phone {
    font-size: 10px;
    font-weight: 900;
    margin-left: 10%;
    color: gray;
}


form {
    /* Centra formulario en la página */
    margin-top: 1em;
    margin-left: 3em;


    /* Estructura de formulario */
    padding: 1em;
    /* border: 1px solid #ccc;*/
    border-radius: 1em;
    text-align: left;
}


.encabezado-form label {
    width: 500px;
    text-align: left;
    margin-left: 2px;
    font-size: 12px;
    font-weight: 800;
    color: rgb(107, 107, 107);
}

.etiqueta-texto1 {
    width: 250px;
    height: 35px;
    border: 1px solid rgb(201, 197, 197);
    border-radius: 5%;
}

.etiqueta-texto2 {
    width: 250px;
    margin-left: 30px;
    height: 35px;
    border: 1px solid rgb(201, 197, 197);
    border-radius: 5%;
}

.etiqueta-texto {
    width: 525px;
    height: 35px;
    border: 1px solid rgb(201, 197, 197);
    border-radius: 5%;
}

.areatexto {
    width: 525px;
    height: 125px;
    border: 1px solid rgb(201, 197, 197);
    border-radius: 5%;
}

.btnSend {
    top: 1px;
    width: 525px;
    height: 40px;
    background-color: rgb(255, 0, 43);
    color: white;
    border-radius: 5%;
    font-size: 10px;
    font-weight: 900;
}


input:focus,
textarea:focus {
    /* Destacado adicional para elementos que tienen el cursor */
    border-color: #000;
}

/*-------------------------------------------*/




/*Queries seccion CONTACTAME*/
@media screen and (max-width:414px) {
    .contactame {
        width: 90%;
        margin: 5px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /*  border: 1px solid red;*/
        text-align: center;
    }

    .titulo-pequeño {
        width: 100%;
    }

    .titulo-grande {
        width: 100%;
    }

    .contenedor-tarjetas-contactame {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .contenedor-tarjetas-contactame .contactame-izquierdo {
        width: 90%;
        margin-left: 10%;

    }

    .imagen img {
        border-radius: 10%;
        width: 80%;
    }

    .contenedor-tarjetas-contactame .contactame-derecho {
        width: 90%;
        margin-left: 10%;
        display: flex;
        position: relative;
    }

    .contactame-derecho .contactame-formulario {
        position: relative;
        width: 80%;
        left: -10%;
    }

    .contactame-formulario .contactame-1 {
        display: flex;
        flex-direction: column;
    }

    .contactame-1 .bloque-nombre {
        display: flex;
        flex-direction: column;

    }

    .contactame-1 .bloque-phone {
        display: flex;
        flex-direction: column;
    }

    .contactame-1 .etiqueta-texto1,
    .etiqueta-texto,
    .areatexto {
        width: 100%;
    }

    .contactame-1 .etiqueta-texto2 {
        width: 100%;
        margin-left: -2%;
        border: 1px solid rgb(206, 203, 203);
    }

    .btn-send {
        width: 100%;
    }
}

@media screen and (max-width:1024px) {

    .contactame-derecho {
        width: 100%;
    }

    .etiqueta-texto,
    .areatexto {
        width: 100%;
        /*border: 1px solid red;*/
    }

    .contactame-1 .etiqueta-texto1,
    .etiqueta-texto2 {
        width: 100%;
    }

    .btn-send {
        width: 100%;
    }

}

/*-----------------------Estilos FOOTER-------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*:::::Pie de Pagina*/
/*:::::Pie de Pagina*/
.pie-pagina {
    width: 90%;
    border-radius: 5%;
    background-color: #0a141d;
}

.pie-pagina .seccion1 {
    width: 100%;
    height: 200px;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .seccion1 .box figure {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.pie-pagina .seccion1 .box figure img {
    left: 10px;
    width: 150px;
    height: 150px;
    background-color: #0d2033;
    /* border: 1px solid red;*/
}

.pie-pagina .seccion1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .seccion1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .seccion1 .red-social {
    display: flex;
    width: 60%;
    gap: 20px;
}

.pie-pagina .seccion1 .red-social a {

    text-decoration: none;
    /* width: 45px;
    height: 45px;*/
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
    background-color: #0d2033;

    /* border: 1px solid blue;*/
}

.btn-redes-linkedin {
    left: 20px;
    width: 40px;
    height: 40px;
    /*border: 1px solid red;*/
    background-color: #0d2033;
}

.btn-redes-whatsapp {
    left: 20px;
    width: 40px;
    height: 40px;
    /*border: 1px solid red;*/
    background-color: #0d2033;
}

.pie-pagina .seccion1 .red-social a:hover {
    color: aqua;
}

.pie-pagina .seccion2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .seccion2 small {
    font-size: 15px;
}

@media screen and (max-width:800px) {
    .pie-pagina .seccion1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}